<div class="container col-md-4 offset-md-4">
    <div class="input-group" style="margin-top: 20px;">
        <h1 style="margin-top: 7px; margin-right: 5px;">please select your role: </h1>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select (selectionChange)="role($event)">
                    <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{role.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div style="float: right;margin-top: 7px; margin-left: 5px;"> <button mat-stroked-button color="primary"
                    (click)="selectRole()">Select</button>
            </div>

        </div>

    </div>
</div>