<div class="container">
    <div class="row">
     
      <div class="col-md-6 offset-md-3">
        <mat-tab-group>
          <mat-tab label="SOS Request">
           <app-sos-request></app-sos-request>
          </mat-tab>
         <mat-tab label="Verification">
          <app-verification></app-verification>
            </mat-tab> 
            <mat-tab label="Add Resource">
                <app-add-resource></app-add-resource>
           </mat-tab>
           <mat-tab label="Information">
            <app-information></app-information>
           </mat-tab>  
           </mat-tab-group>
  </div>
</div>
</div>
