<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2" style="margin-top: 10px;" *ngIf="!condition;">
            <form [formGroup]="donarForm" class="form-container" (ngSubmit)="requestSubmit()">
                <mat-card>
                    <mat-card-content>

                        <div class="mt-2">
                            <mat-form-field class="full-width">
                                <input formControlName="name" matInput placeholder="Enter the full name">
                                <mat-error *ngIf="name.invalid && name.touched">
                                    {{errors.name}}
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="mt-2">

                            <mat-form-field class="full-width">
                                <input formControlName="age" matInput placeholder="Age">
                                <mat-error *ngIf="age.invalid && age.touched">
                                    {{errors.age}}
                                </mat-error>

                            </mat-form-field>
                        </div>


                        <div class="mt-2">
                            <mat-form-field appearance="fill">
                                <mat-label>Blood Group</mat-label>
                                <mat-select formControlName="bloodGroup">
                                    <mat-option *ngFor="let blood of bloodGroups" [value]="blood.bloodType">
                                        {{blood.bloodName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="mt-2">

                            <mat-form-field class="full-width">
                                <input formControlName="hospitalName" matInput placeholder="Hospital Name">
                                <mat-error *ngIf="hospitalName.invalid && hospitalName.touched">
                                    {{errors.hospitalName}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="mt-2">

                            <mat-form-field class="full-width">
                                <input formControlName="hospitalAddress" matInput placeholder="HospitalAddress">
                                <mat-error *ngIf="hospitalAddress.invalid && hospitalAddress.touched">
                                    {{errors.hospitalAddress}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="mt-2">
                            <div class="card-header">Upload Prescription</div>
                            <div class="row mt-3 ">

                                <div class="col-ms-6 mb-3 mr-3">

                                    <input type="file" (change)="onFileChanged($event)"
                                        formControlName="uploadPrescription">

                                    <input type="button" (click)="onUpload()" value="Upload File">

                                </div>


                            </div>
                        </div>

                    </mat-card-content>
                    <div class="mt-3">
                        <button id="btnsubmit" class="btn btn-success"
                            style="margin-left: 200px; margin-bottom: 10px;">Submit</button>
                    </div>
                </mat-card>
            </form>

        </div>
        <div *ngIf="condition;">
            <button class="btn btn-success" style="margin-top: 10px;" (click)="getDonars()">Get Donars</button>
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div class="mt-3" fxflex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let details of donars">
                    <mat-card class="example-card">
                        <mat-card-header style="margin-left:40px">
                            <mat-card-title style="color: green;font-style: italic;"> Your Plasma Donar </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <h3 style="font-style: italic;">DonarName:{{details?.name}}</h3>
                            <h3 style="font-style: italic">Contact number:{{details?.phoneNumber}}</h3>
                            <h3 style="font-style: italic">Email:{{details?.emailId}}</h3>
                            <h3 style="font-style: italic">City:{{details?.city}}</h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>


        </div>

    </div>
</div>
